<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <h1>Your orders</h1>
        <% if (orders.length > 0) { %>
            <div class="orders_block">
                <ul>
                    <% orders.forEach(order => { %>
                        <li>
                            <h3>Order - #<%= order._id %></h3>
                            <ul>
                                <% order.products.forEach(i => { %>
                                    <li><%= i.product.title %> (<%= i.quantity %>)</li>
                                <% }); %>
                            </ul>
                        </li>
                    <% }); %>
                </ul>
            </div>
        <% } else { %>
            <h2>No orders!</h2>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>